{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source",
        ["module-resolver", {
        "root": ["./"],
        "alias": {
          "@Components": "./Components",
          "@Containers": "./Containers",
          "@Actions":"./Actions",
          "@Reducers":"./Reducers",
          "@Store":"./Store",
          "@Navigation":"./Navigation",
          "@Data":"./Data"
        }
      }]]
    }
  }
}
